@use '@/styles/variables'

.eventsContainer
  position: relative
  flex: 1
  min-height: 0
  padding: 0 variables.$spacing-16 variables.$spacing-16

.eventDay
  display: flex
  flex-direction: column
  gap: variables.$spacing-8
  margin-bottom: variables.$spacing-8

.eventDayHeader
  margin-bottom: variables.$spacing-8

.eventList
  padding: 0 variables.$spacing-4
