@use '@/styles/variables'

.miniCalendar
  display: flex
  gap: variables.$spacing-4
  justify-content: space-between
  padding: 0 variables.$spacing-28
  width: 100%
  max-width: 100%
  box-sizing: border-box
  overflow-x: hidden

.dayInner
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 0 0 variables.$spacing-8
  flex: 1 1 0
  min-width: 0

.dayHeaderText
  color: var(--mantine-color-base-5)
  margin-bottom: variables.$spacing-8

.active
  border: 1px solid var(--mantine-color-gray-4)
  border-radius: variables.$spacing-8