@use '@/styles/fonts'

.dayHeaderText
  text-align: center
  color: var(--mantine-color-base-8)
  font-weight: 700
  text-transform: uppercase

.dateHeaderText
  text-align: center
  color: var(--mantine-color-base-8)
  font-weight: 400

.isToday
  color: var(--mantine-color-primary-6)

.dayColInner
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 52px
  background-color: transparent

.active
  background-color: #f8f9fa