@use '@/styles/fonts';

.modal
  padding-bottom: 3rem

.title
  @include fonts.font-pair(24, 32)
  font-weight: fonts.$font-weight-medium
  color: var(--mantine-color-base-7)

.description
  font-weight: fonts.$font-weight-normal