.headerGrid
  border: 1px solid var(--mantine-color-base-2)
  border-bottom: none
  border-top-left-radius: 1rem
  border-top-right-radius: 1rem

.dayHeaderCol
  height: 44px
  display: flex
  justify-content: center
  align-items: center
  
.dayHeaderText
  text-align: center
  color: var(--mantine-color-base-8)
  font-weight: 700
  text-transform: uppercase
