@use 'sass:list'

$clr_background: var(--mantine-color-base-6)
$clr_background-alt: var(--mantine-color-brand-0)
$clr_background-base: var(--mantine-color-brand-1)
$clr_background-tertiary: var(--mantine-color-base-0)
$clr_primary-light: var(--mantine-color-brand-0)
$clr_primary-alt: var(--mantine-color-brand-0)
$clr_brand-base: var(--mantine-color-brand-1)
$clr_brand-terniary: #F7FAFF
$clr_brand-text: var(--mantine-color-brand-5) // TODO: review
$clr_text-base: var(--mantine-color-base-6)
$clr_text-light: #fff

$clr_background: #f5f8fb // TODO: use color from the palette
$clr_background-alt: $clr_primary-alt
$clr_background-base: $clr_brand-base

$clr_background_light: #fff

$clr_text-light: #fff
$clr_separator: var(--mantine-color-gray-2)
$clr_label: var(--mantine-color-base-0)
$clr_text-brief: var(--mantine-color-base-0)
$clr_text-error: var(--mantine-color-error-5)
$clr_title: var(--mantine-color-base-9)
$clr_link: var(--mantine-color-brand-9) // TODO: review
$clr_text-meta: var(--mantine-color-base-0)
$clr_brand-text: $clr_brand-text
$clr_brand-button-bg: $clr_brand-text
$clr_border: var(--mantine-color-brand-3)
$clr_label: $clr_text-base
$clr_text-brief: $clr_text-base
// $clr_title: $clr_text-primary
$clr_text-meta: $clr_text-base
$clr_brand-text: $clr_brand-text

$clr_success_bg: var(--mantine-color-success-0)
$clr_success: var(--mantine-color-success-5)

$clr_error: var(--mantine-color-fail-5)
$clr_error-hover: var(--mantine-color-fail-6)

$clr_primary: var(--mantine-color-brand-5) // TODO: review

$clr_selected: var(--mantine-color-brand-2)
