// Breakpoints
$breakpoint-xs: 576px
$breakpoint-sm: 768px
$breakpoint-md: 1024px
$breakpoint-lg: 1280px
$breakpoint-xl: 1400px

// Spacing

$spacing-2: 0.125rem // 2px
$spacing-4: 0.25rem // 4px
$spacing-8: 0.5rem // 8px
$spacing-12: 0.75rem // 12px
$spacing-16: 1rem // 16px
$spacing-20: 1.25rem // 20px
$spacing-24: 1.5rem // 24px
$spacing-28: 1.75rem // 28px
$spacing-32: 2rem // 32px
$spacing-36: 2.25rem // 36px

$side-spacing-mobile: 1.25rem // 20px
$side-spacing-desktop: 1.875rem // 30px


// Controls
$control-size-xs: 2rem // 32px
$control-size-sm: 2.25rem // 36px
$control-size-md: 2.5rem // 40px
$control-size-lg: 3rem // 48px
$control-size-xl: 3.5rem // 56px

$control-size-compact-xs: 1.25rem // 20px
$control-size-compact-sm: 1.5rem // 24px
$control-size-compact-md: 1.75rem // 28px
$control-size-compact-lg: 2.25rem // 36px
$control-size-compact-xl: 2.5rem // 40px

$control-x-spacing: 0.5rem // 8px

// Font sizes for buttons
$font-size-xs: 0.875rem // 14px
$font-size-sm: 0.875rem // 14px
$font-size-md: 1rem // 16px
$font-size-lg: 1rem // 16px
$font-size-xl: 1rem // 16px

// Checkbox sizes
$checkbox-size-xs: 1rem
$checkbox-size-sm: 1.25rem
$checkbox-size-md: 1.75rem
$checkbox-size-lg: 2rem
$checkbox-size-xl: 2.5rem

// Table
$table-cell-padding: 0.75rem

// Other
$control-size: 2.5rem // 40px
$border-radius: 2rem

// Layout
$header-height: var(--header-height, 68px)

$clr_action: #0ea5e9
$clr_action-hover: #0284c7

$clr_error: #e5443e
$clr_error-hover: #d12B1f
