@use '@/styles/variables'

.eventItem
  padding: variables.$spacing-12
  box-shadow: 0 0 4px 2px var(--mantine-color-gray-1)
  margin-bottom: variables.$spacing-12

.eventItemHeader
  display: flex
  align-items: center
  gap: variables.$spacing-8

.eventTime
  color: var(--mantine-color-base-7)

.eventTitle
  display: flex
  align-items: center
  gap: variables.$spacing-8
  flex: 1
  font-weight: 500