.form
  display: flex
  flex-direction: column
  gap: 16px
  padding-bottom: 3rem

.row
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 16px

.footer
  margin-top: 8px
  display: flex
  justify-content: flex-end
  gap: 12px

.calendarSelect
  display: block
  align-items: flex-start


.switch
  width: fit-content
  align-self: flex-start

.calendarSelectWrapper
  width: 100%

